.getStarted {
  position: absolute;
  top: 13px;
  left: 75px;
  font-weight: 800;
  display: inline-block;
  width: 133px;
  height: 27px;
}
.property1default {
  position: absolute;
  top: 115px;
  left: 36px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray);
  width: 282px;
  height: 53px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-proxima-nova);
}
