.property1component56Child {
  position: absolute;
  height: 106.67%;
  width: 101.96%;
  top: -3.33%;
  right: -0.98%;
  bottom: -3.33%;
  left: -0.98%;
  box-shadow: 0 4px 4px rgba(0, 86, 92, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.fashion {
  position: absolute;
  width: 71.57%;
  top: 16.67%;
  left: 14.71%;
  font-weight: 600;
  display: inline-block;
}
.property1component56 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 102px;
  height: 30px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
  font-family: var(--font-proxima-nova);
}
