.register {
  position: absolute;
  height: 80%;
  width: 30.49%;
  top: 10%;
  left: 34.75%;
  font-weight: 800;
  display: inline-block;
}
.property1component95 {
  position: absolute;
  top: 93px;
  left: 20px;
  width: 305px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-proxima-nova);
}
