.property1component11Child {
  position: absolute;
  height: 106.67%;
  width: 102.3%;
  top: -3.33%;
  right: -1.15%;
  bottom: -3.33%;
  left: -1.15%;
  box-shadow: 0 4px 4px rgba(0, 86, 92, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.legal {
  position: absolute;
  width: 56.32%;
  top: 16.67%;
  left: 21.84%;
  font-weight: 600;
  display: inline-block;
}
.property1component11 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 87px;
  height: 30px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
  font-family: var(--font-proxima-nova);
}
