.getStarted {
  position: absolute;
  top: 13px;
  left: 75px;
  display: inline-block;
  width: 133px;
  height: 27px;
}
.tempimageocd2jm2 {
  position: absolute;
  top: -673px;
  left: 115px;
  width: 834px;
  height: 1212px;
}
.tempimageocd2jm1,
.tempimageocd2jm21,
.tempimageocd2jm3 {
  position: absolute;
  top: -334px;
  left: 17px;
  width: 834px;
  height: 1212px;
}
.tempimageocd2jm1,
.tempimageocd2jm21 {
  top: -578px;
  left: 131px;
}
.tempimageocd2jm1 {
  top: 110px;
  left: 176px;
}
.getStartedParent {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray);
  height: 46px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
