.httpsyoutubeuvnuiu8Xq {
  position: absolute;
  top: 0;
  left: 24px;
}
.httpsyoutubeuvnuiu8XqParent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 19px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
