.uploadIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.uploadParent {
  width: 100%;
  position: relative;
  height: 21px;
  overflow-y: auto;
}
